version: 2.1
orbs:
  node: circleci/node@5.1.0
  slack: circleci/slack@4.12.3

jobs:
  build:
    machine:
      image: ubuntu-2204:2022.10.2
    resource_class: arm.medium
    steps:
      - checkout
      - node/install:
          node-version: '20'
      - node/install-packages:
          pkg-manager: npm
      - run:
          name: Build testing site
          command: npm run build
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-topmonks-webs
  test:
    machine:
      image: ubuntu-2204:2022.10.2
    resource_class: arm.medium
    steps:
      - checkout
      - node/install:
          node-version: '20'
      - node/install-packages:
          pkg-manager: npm
      - run: npm test
      - slack/notify:
          event: fail
          template: basic_fail_1
          channel: ntf-topmonks-webs
workflows:
  ci:
    jobs:
      - build:
          context: org-global
      - test:
          context: org-global
